<div class="container">
  <h1 class="title">Tema 15: Trabajando con Firebase + Github</h1>
  <div class="row">

    <!-- Comentamos la parte del ejemplo y nos quedamos sólo con la parte del ejercicio
      <div class="col-6">
      <div class="btn-group mb-4">
    <button type="button" class="btn btn-primary" (click)="completeItems()">
      Completar tareas
    </button>
    <button type="button" class="btn btn-primary" (click)="deleteItems()">
      Borrar tareas
    </button>
    <button type="button" class="btn btn-warning" (click)="requestPermissions()">
      Solicitar permisos
    </button>
  </div>
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div
      class="list-group"
      *ngFor="let item of itemList; let id = index"
      cdkDrag
    >
      <app-item [item]="item" (complete)="completeItem($event, id)"></app-item>
    </div>
  </div>
  <div class="mb-5">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Tarea"
        [(ngModel)]="msg"
      />
    </div>

    <div class="input-group mb-3">
      <input
        class="form-control"
        type="file"
        placeholder="Incluye una imagen"
        (change)="fileBrowseHandler($event)"
      />
    </div>

    <button type="button" class="btn btn-success" (click)="createItem()">
      Crear tarea nueva
    </button>
  </div>

    </div>-->
    <div class="col-12">
        <app-dragdrop></app-dragdrop>
    </div>
  </div>

</div>
